# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.log*

# Dependency directories
node_modules/**/*
server/node_modules/**/*
/client/node_modules/**/*
/client/.expo/*

# Yarn Integrity file
.yarn-integrity
yarn.lock
# dotenv environment v
