/* Coolors Exported Palette - coolors.co/011936-465362-91c4f2-9395d3-fffcf9 */

/* HSL */
$color1: hsla(213%, 96%, 11%, 1);
$color2: hsla(212%, 17%, 33%, 1);
$color3: hsla(208%, 79%, 76%, 1);
$color4: hsla(238%, 42%, 70%, 1);
$color5: hsla(30%, 100%, 99%, 1);

/* RGB */
$color1: rgba(1, 25, 54, 1);
$color2: rgba(70, 83, 98, 1);
$color3: rgba(145, 196, 242, 1);
$color4: rgba(147, 149, 211, 1);
$color5: rgba(255, 252, 249, 1);